@media screen and (max-width: 515px) {
  #grid {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    padding: 10px;
  }

  .photo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%; /
  }
  header {
    position: relative;
    height: auto;
  }
  header a {
    display: none;
  }
  .mobile_icon {
    display: block;
    width: 2rem;
    height: 2rem;
    background: white;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem;
  }
  .mobile_icon img {
    width: 100%;
  }
  .popup {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    flex-direction: column;
  }
  header.open .popup a {
    display: block;
    text-align: center;
    color: black;
    margin: 10px 0;
  }
}

@media screen and (max-width: 1024px){
    .photo {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        width: 100%; /
      }
      header {
        position: relative;
        height: auto;
      }
      header a {
        display: none;
      }
      .mobile_icon {
        display: block;
        width: 2rem;
        height: 2rem;
        background: white;
        padding: 0.5rem;
        border-radius: 5px;
        margin: 1rem;
      }
      .mobile_icon img {
        width: 100%;
      }
      .popup {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background: rgba(255, 255, 255, 0.8);
        flex-direction: column;
      }
      header.popup a {
        display: block;
        text-align: center;
        color: black;
        margin: 10px 0;
      }
}